$moradoO:#242061;
$moradoM:#6561A2;
$moradoC:#8E8ACB;
$fucsia:#B62267;
$verde:#3F9200;
$verdeC:#F3F7F0;
$fondo:#EFF0F1;
$grisO:#525E63;
$grisM:#BDC7CB;
$grisC:#DFE7EB;
$white:#ffffff;
$azulO: #1F1E36;
$shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.2);