/*This layout have a normalize.css styles*/
/*Import color variables*/
/*General Styles*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #EFF0F1;
  color: #525E63;
}

.fullHeight {
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex.betweenH {
  justify-content: space-between;
}
.flex.betweenV {
  flex-direction: column;
  justify-content: space-between;
}

a {
  display: block;
  text-decoration: none;
}

.logo {
  max-width: 163px;
}

input[type=button] {
  margin: 5px;
  padding: 8px 13px;
  border-radius: 6px;
  background-color: #242061;
  border: 2px solid #525E63;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
input[type=button].default {
  background-color: #242061;
  border: 2px solid #242061;
}
input[type=button].default.outline {
  background-color: transparent;
  border: 2px solid #242061;
  color: #242061;
}
input[type=button].success {
  background-color: #3F9200;
  border: 2px solid #3F9200;
}
input[type=button].success.outline {
  background-color: transparent;
  border: 2px solid #3F9200;
  color: #3F9200;
}
input[type=button].success.invert {
  color: white;
  border: 2px solid #ffffff;
}

.buttons-right {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

input.button-icon {
  background-color: #3F9200;
}
input.button-icon.layers {
  background-image: url(../assets/layers.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.login > div:first-child {
  flex: 1 1 986px;
  background-image: url(../assets/Image17@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.login > div:first-child img {
  margin: 20px 30px;
  width: 143px;
}
.login > div:first-child h1 {
  font-size: 56px;
  color: #ffffff;
  font-weight: 100;
  margin: 20px 90px;
}
.login > div:first-child h2 {
  margin: 20px 30px;
  color: #C46E9A;
  font-size: 12px;
}
.login > div:last-child {
  flex: 1 1 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login > div:last-child > div {
  padding: 0px 40px;
}
.login > div:last-child > div h1 {
  font-size: 32px;
  font-weight: 100;
  color: #242061;
}
.login > div:last-child > div label {
  display: block;
  font-size: 14px;
  color: #242061;
  margin-bottom: 12px;
}
.login > div:last-child > div input[type=text],
.login > div:last-child > div input[type=password] {
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 16px;
  color: #242061;
  border-radius: 6px;
  border: 1px solid #525E63;
  width: 100%;
  display: block;
  max-width: -webkit-fill-available;
}
.login > div:last-child > div label[for=recordar] {
  font-size: 14px;
  font-weight: bold;
  color: #242061;
  cursor: pointer;
}
.login > div:last-child > div input[type=checkbox] {
  display: none;
}
.login > div:last-child > div input[type=checkbox] + label {
  background-image: url(../assets/checkbox_on_gray.png);
  background-position: left top;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: -3px 11px -3px 0px;
}
.login > div:last-child > div input[type=checkbox]:checked + label {
  background-image: url(../assets/checkbox_on_dark.png);
  background-position: left top;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: -3px 11px -3px 0px;
}
.login > div:last-child > div input[type=submit] {
  background-color: #3F9200;
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 50px;
  cursor: pointer;
  width: 100%;
  height: 45px;
}
.login > div:last-child > div a {
  padding: 5px;
  cursor: pointer;
}

@media screen\0  {
  .flex.betweenV {
    width: 10%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .flex > div:last-child {
    width: 35%;
  }
  .flex > div:last-child > div {
    margin-top: 33%;
  }
  .flex > div:last-child > div input[type=text],
.flex > div:last-child > div input[type=password] {
    width: 94%;
  }

  .login > div:first-child img {
    height: 30px;
    width: 143px;
  }
  .login > div:first-child h1 {
    margin-bottom: 400px;
    bottom: 250px;
    left: 0;
    top: 250px;
    position: absolute;
  }
  .login > div:first-child h2 {
    bottom: 0;
    left: 0;
    position: absolute;
  }
}

/*# sourceMappingURL=login.css.map */
